.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallerySuper {
  width: 40%; 
  box-sizing: border-box; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.gallerySuper img {
  width: 100%; 
  height: auto; 
}

.description {
  text-align: center;
  margin-top: 10px;
}

.rating {
  display: inline-block;
  font-size: 0; 
}

